/* Estilos para el navbar */
.nav-container {
  background-color: #162121;
  position: sticky;
  width: 100%;
}

/* Estilos para el encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 2rem;
  width: 100%;
}
/* Estilos cuando el usuario hace scroll */
.nav-container.scrolled {
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: 2px solid #568281;
  backdrop-filter: blur(5px);
  background-color: #16212180;
  z-index: 1;
  transition: width 0.3s ease-in-out;
}

/*Estilos para el hover del scroll*/
#scrollToTop:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #44b6ca;
}

/* Estilos para el parrafo del encabezado */
.header p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Estilos para el navbar */
.nav-desktop {
  width: 50%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Estilos para los enlaces del navbar */
.nav-desktop a {
  list-style: none;
  text-decoration: none;
  color: #e4eaec;
}
.nav-desktop a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #44b6ca;
}

/* Estilos en el navbar cuando el usuario hace scroll */
.nav-container.scrolled {
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  border: 2px solid #568281;
  backdrop-filter: blur(5px);
  background-color: #16212180;
  z-index: 1;
  transition: width 0.3s ease-in-out;
}

/* Menu hamburguesa para celulares */
.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* Estilos para el span del menu hamburguesa */
.hamburger-menu span {
  background-color: #e4eaec;
  height: 0.2rem;
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Estilos para el span del hamburger menu cuando el usuario hace scroll */
.nav-mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  backdrop-filter: blur(50px);
  background-color: hsla(180, 20%, 11%, 0.9);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-top: 2px solid #568281;
}

/* Estilos para los enlaces del navbar */
.nav-mobile a {
  padding: 1rem;
  text-decoration: none;
  color: #e4eaec;
  font-size: 1.2rem;
  text-align: center;
}

/* Estilos para el home */
#home {
  background-image: url('../../assets/backgroundHome.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh);
  padding-left: 1rem;
  padding-right: 1rem;
}
